@import '../../main.module.scss';

.input{
    padding: 6px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid $grey;
    border-radius: $radius;
    font-size: $font_size;
    background-color: inherit;
}
.input_light{
    color: black;
    &::placeholder {
        color: rgb(116, 116, 116);
    }
}
.input_dark{
    color: white;
    &::placeholder {
        color: $grey;
    }
}

.input_stretched{
    width: 100%;
}
.input_rounded{
    border-radius: 30px;
}