@import '../../main.module.scss';

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0 20% 0 20%;
    width: 100%;
    height: 50px;
    &.light{
        background-color: rgb(187, 187, 187);
    }
    &.dark{
        background-color: #444444;
    }
    a, div{
        box-sizing: border-box;
        padding: 17px 5px 0 5px;
        height: 100%;
    }
    &.styled{
        a{
            text-decoration: none;
        }
        div{
            cursor: pointer;
        }
        &.light{
            a, div{
                color: black;
            }
            a:hover, div:hover{
                color: #444444;
                border-bottom: 4px solid #444444;
            }
        }
        &.dark{
            a, div{
                color: white;
            }
            a:hover, div:hover{
                color: rgb(187, 187, 187);
                border-bottom: 4px solid rgb(187, 187, 187);
            }
        }
    }
}
.margin{
    margin-bottom: 50px;
}
// .burger{
//     display: none;
// }
.menu{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0 0 0 28px;
    width: 220px;
    height: 0px;
    transition: 0.1s;
    animation: drop 0.8s 1;
    animation-fill-mode: forwards;
    overflow: hidden;
    &.light{
        background-color: rgb(187, 187, 187);
    }
    &.dark{
        background-color: #444444;
    }
    &.styled{
        a{
            text-decoration: none;
        }
        div{
            cursor: pointer;
        }
        &.light{
            a, div{
                color: black;
            }
            a:hover, div:hover{
                color: #444444;
                border-right: 4px solid #444444;
            }
        }
        &.dark{
            a, div{
                color: white;
            }
            a:hover, div:hover{
                color: rgb(187, 187, 187);
                border-right: 4px solid rgb(187, 187, 187);
            }
        }
    }
}
// @keyframes drop{
//     0% { 
//         height: 0px;
//     }
//     100% { 
//         height: 320px;
//     }
// }
// @media (min-width: 481px) and (max-width: 870px) {
//     .header{
//         padding: 0 20px 0 20px;
//         justify-content: flex-start;
//         a, div{
//             display: none;
//         }
//         .burger{
//             padding: 8px;
//             display: block !important;
//             &:hover{
//                 border-bottom: 0px !important;
//             }
//         }
//     }
// }
// @media (min-width: 319px) and (max-width: 481px) {
//     .header{
//         padding: 0 20px 0 20px;
//         height: 40px;
//         justify-content: flex-start;
//         a, div{
//             display: none;
//         }
//         .burger{
//             padding: 3px 0 0 8px;
//             display: block !important;
//             &:hover{
//                 border-bottom: 0px !important;
//             }
//         }
//     }
//     .menu{
//         top: 40px;
//     }
//     .margin{
//         margin-bottom: 40px;
//     }
// }