$main_color: #0071e9;
$main_lighter_color: #1e87ff;
$main_more_lighter_color: #419aff;
$main_the_most_lighter_color: #85beff;
$main_darker_color: #005ec2;
$dark: #292929;
$grey: #d4d4d6;
$dark_grey: #4f4f50;
$radius: 4px;
$font_size: 15px;