.image{
    min-width: 50px;
    min-height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.image_light{
    color: black;
}
.image_dark{
    color: white;
}